* {
    color: steelblue;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search {
    display: flex;
    margin-top: 100px;
    margin-bottom: 20px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.person {
    align-items: center;
    border: 1px solid gainsboro;
    box-shadow: 6px 6px gainsboro;
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin: 10px;
    width: 215px;
}

.person-info {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    justify-content: space-between;
    min-height: 125px;
}

.image {
    border-radius: 100%;
    width: 200px;
}

.search-text {
    border: none;
    border-bottom: 2px solid gainsboro;
    font-size: 24px;
    outline: none;
}

.search-text:hover {
    border-bottom: 2px solid gray;
}

.search-text:focus {
    border-bottom: 3px solid black;
}

.search-button {
    background: white;
    border-radius: 15px;
    color: steelblue;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 28px;
    height: 50px;
    outline: none;
    width: 90px;
}

.search-button:hover {
    background-color: lightsteelblue;
    color: white;
}

.search-button:active {
    background-color: steelblue;
    color: white;
    -webkit-box-shadow: inset 0px 1px 3px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0px 1px 3px 2px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0px 1px 3px 2px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}